 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     font-family: Arial, sans-serif;
 }
.content {
    text-align: center;
}

 .content img {
     display: block;
     margin: 0 auto;
     max-width: 100%;
     height: auto;
     width: 480px;
     border-radius: 15px;
 }

 @media screen and (max-width: 768px) {
     .content img {
         width: 75%;
     }
 }